<!DOCTYPE HTML>
<html>

<head>
    <title>Rachelle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body class="landing">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="/">Rachelle</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <!--<li><a href="#">Generic</a></li>
                                <li><a href="#">Elements</a></li>-->
                                <li><a href="https://rachelleapp.herokuapp.com/users/register">Sign Up</a></li>
                                <li><a href="https://rachelleapp.herokuapp.com/users/login">Log In</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Rachelle</h2>
                <p>Sell and buy your college books<br /> with ease <br />
                </p>
                <ul class="actions">
                    <li><a href="/directory" class="button special">Books For Sale</a></li>
                </ul>
            </div>
            <a href="#one" class="more scrolly">Learn More</a>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <div style="text-align: justify-content;">
                        <h2> What is Rachelle? <br />
  								      MAIN GOAL AND OBJECTIVE</h2>
                        <p>Our main objective is too make student material such as notes, tutor, textbooks, past questions <br /> and assignments by creating a community of students based on their field of study and university.</p>
                    </div>
                </header>
                <ul class="icons major">
                    <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>
                    </li>
                    <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>
                    </li>
                    <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt style2">
            <section class="spotlight">
                <div class="image"><img src="images/pic01.jpg" alt="" /></div>
                <div style="text-align:left;" class="content">
                    <h2>
                      Advantages<br />
						        </h2>
                    <p>Unlike our competitions such a chegg and one class, Rachelle gives the power of purchasing into the student’s hands and we do not charge or take any sales percentage. The transaction is done strictly between students except for our
                        tutor program. .
                    </p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="images/pic02.jpg" alt="" /></div>
                <div style="text-align:left;" class="content">
                    <h2><br />
                      Community
								    </h2>
                    <p>Facebook and kijiji ads are placed in randomly with makes it challenging some times to sell or buy books. But with the community platform student will be able to sell notes, lab assessments, past assignments and exams for prices depending
                        on the quality of the material. After a transaction is made the buyer will give a star rating to the material of the seller and that rating is visible to all member of the community. This promotes legitimacy in the product trust
                        between buyer and seller. Students are adviced to sell materials in course packages (notes, labs, assignments, essays and exams). Because of the high demand for textbooks within the community, prices will be relatively cheap creating
                        a win-win environment for both buyers and sellers.
                    </p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="images/pic03.jpg" alt="" /></div>
                <div style="text-align:left;" class="content">
                    <h2> Tutors <br />
								    </h2>
                    <p>Unknown to many, tutors are in a high demand by high school, college and university student. Tutors will be advertised within the community of the class they want to tutor and star rating will be given to tutors by the students. We
                        are going to have additional package like tutor spilt one tutor will teach multiple groups and each member of the group will be charge at a cheaper rate. Our tutor transaction unlike most other platforms will be online based and
                        the company will take 30 percent of all transactions made. (sort of like tutor uber). Our tutor service is open to any level of education but there will more emphasis on college and university students.
                    </p>
                </div>
            </section>
        </section>

        <!-- Three
        <section id="three" class="wrapper style3 special">
            <div class="inner">
                <header class="major">
                    <h2>Accumsan mus tortor nunc aliquet</h2>
                    <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br /> fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
                </header>
                <ul class="features">
                    <li class="icon fa-paper-plane-o">
                        <h3>Arcu accumsan</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-laptop">
                        <h3>Ac Augue Eget</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-code">
                        <h3>Mus Scelerisque</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-headphones">
                        <h3>Mauris Imperdiet</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-heart-o">
                        <h3>Aenean Primis</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-flag-o">
                        <h3>Tortor Ut</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                </ul>
            </div>
        </section>
        -->

        <!-- CTA -->
        <section id="cta" class="wrapper style4">
            <div class="inner">
                <header>
                    <h2>Join Rachelle</h2>
                    <p>Explore a new world of learning with us singup for rachelle now and take charge of your education.</p>
                </header>
                <ul class="actions vertical">
                    <li><a href="#" class="button fit special">Signup</a></li>
                    <li><a href="/subscribe" class="button fit">Subscribe </a></li>
                </ul>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="mailto:rachelleteam@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Rachelle</li>
                <li>Design: <a href="http://jesseokeya.herokuapp.com">RachelleTeam</a></li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <!-- jQuery Plugin -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

    <!-- Preloader -->
    <script type="text/javascript">
        //<![CDATA[
        $(window).on('load', function() { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({
                'overflow': 'visible'
            });
        })
        //]]>
    </script>
</body>

</html>
